<nav class="navbar">
  <div class="logo">
    <h2>Employee List</h2>
  </div>
  <div class="nav-button">
    <LinkTo @route="dashboard" class="btn">Dashboard</LinkTo>
    <LinkTo @route="add-employee" class="btn">Add Employee</LinkTo>
    <button class="btn" type="button" {{on "click" this.toggleDarkMode}}>{{this.Text}}</button>
  </div>
</nav>


<div class="mainContent">
  {{liquid-outlet}}
</div>

<BasicDropdownWormhole />